@use "./variables.scss" as *;
@use "./scrollbar.scss" as *;
@use "./widgets.scss" as *;
@use "./spacing.scss" as *;

@font-face {
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/bebasneue/v15/JTUSjIg69CK48gW7PXoo9WlhyyTh89Y.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	font-family: $font-body;
	color: rgba($content-light, 0.8);
	// color: $content-mid; // bit too blue
	background-color: $bg-dark;
	color-scheme: dark;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

// fix weird lip around edges
body {
	margin: 0;
}

h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: $content-light;
}

h1,
.h1 {
	font-family: $font-title;
	// bebas neue bold is absolutely disgusting
	font-weight: normal;
	font-size: 5rem;
	// closer to tracking of wordmark
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	text-align: center;
	@media screen and (max-width: 760px) {
		font-size: 4rem;
	}
}

h2,
.h2 {
	font-family: $font-subtitle;
	font-weight: bold;
	font-size: 2rem;
}

p,
a,
li {
	font-size: 20px;
	line-height: 1.5;
}

ul,
ol {
	list-style-position: inside;
	padding-inline-start: 20px;
}

textarea {
	font-family: inherit;
	overflow-wrap: anywhere;
	resize: vertical;
}

.all-center {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.text-center {
	text-align: center;
}

.block {
	width: 100%;
}

a,
.text-link {
	color: $accent-light;
	text-decoration: none;
	transition: all 0.25s ease;
}

a:hover,
.text-link:hover {
	color: $accent-dark;
}

.container {
	width: 100%;
	flex-grow: 1;
	padding: 50px 15px;
	// footer already has padding
	padding-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	@media screen and (min-width: 576px) {
		max-width: 540px;
	}
	@media screen and (min-width: 760px) {
		max-width: 720px;
	}
	@media screen and (min-width: 960px) {
		max-width: 960px;
	}
	@media screen and (min-width: 1280px) {
		max-width: 1140px;
	}
}

.banner-img {
	filter: drop-shadow(0px 10px 10px #00000077);
	margin-bottom: 50px;
	margin-top: 0;
}

// generic class for both navbar and footer
.navigation-link {
	font-family: $font-subtitle;
	color: $content-light;
	font-size: 18px;
	transition: all 0.25s ease;
	&:hover {
		color: $accent-light;
		transform: scale(0.95);
		cursor: pointer;
	}
}
