@font-face {
	font-family: "Bebas Neue";
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/bebasneue/v15/JTUSjIg69CK48gW7PXoo9WlhyyTh89Y.woff2)
		format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	// I really don't care which font is displayed for body text as long as it's somewhat legible lol
	font-family: sans-serif;
	color: #e2e9eabf;
	background-color: #2f3639;
}

// fix weird lip around edges
body {
	margin: 0;
}

h1,
.h1 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: normal;
	font-size: 5rem !important;
	color: #e2e9ea;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}

h2,
.h2 {
	font-family: "menlo", "consolas", monospace;
	font-weight: bold;
	font-size: 2rem !important;
	color: #e2e9eaee;
}

p,
a,
li {
	font-size: 20px;
}

.all-center {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	* {
		text-align: center;
	}
}

.center {
	text-align: center;
}

.headline {
	margin-top: 0px;
	margin-bottom: 50px;
	font-size: 4.5em;
}

a {
	text-decoration: none;
	color: #4baeee;
	transition: all 0.25s ease;

	&:hover {
		color: #2789f0;
	}
}

.link-hover {
	transition: all 0.25s ease;

	&:hover {
		color: #4baeee;
		transform: scale(0.9);
	}
}

.info-text {
	font-family: "menlo", "consolas", monospace;
	color: #dedede;
}

hr {
	clear: both;
}

.left-align {
	float: left;
}

.right-align {
	float: right;
}

.hoverable {
	transition: all 0.5s ease;
	&:hover {
		transform: scale(1.1);
	}
}

.right-align,
.left-align {
	@media screen and (max-width: 1200px) {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.container {
	width: 100%;
	flex-grow: 1;
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
	@media screen and (min-width: 576px) {
		max-width: 540px;
	}
	@media screen and (min-width: 760px) {
		max-width: 720px;
	}
	@media screen and (min-width: 960px) {
		max-width: 960px;
	}
	@media screen and (min-width: 1280px) {
		max-width: 1140px;
	}
}

.main-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	img {
		max-width: 100%;
		max-height: 50vw;
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
		@media screen and (max-width: 1200px) {
			max-width: 130%;
		}
		@media screen and (max-width: 800px) {
			max-width: 160%;
		}
	}
}

.banner-img {
	filter: drop-shadow(0px 10px 10px #00000077);
	margin-bottom: 50px;
	margin-top: 0;
}

.general-button {
	color: #fff;
	background-color: #aabaff33;
	border-radius: 10px;
	font-size: 1.25em;
	padding: 1em;
	border: none;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	&:hover {
		cursor: pointer;
	}
	filter: drop-shadow(0 15px 10px #000000);
}

.general-input {
	color: #fff;
	background-color: #aaaaff33;
	border-radius: 10px;
	font-size: 20px;
	padding: 0.5em;
	border: none;
	filter: drop-shadow(0 5px 5px #000000);
}

.block {
	width: 100%;
}
