// official evorp color palette™®©
$fg-dark: #131519;
$fg-light: #24292d;

$bg-dark: #2f3639;
$bg-mid: #3c4548;
$bg-light: #4b5559;

$content-dark: #849ba8;
$content-mid: #a3bec7;
$content-light: #e2e9ea;

$accent-dark: #2084ef;
$accent-light: #4baeee;

// material-style drop shadow
$drop-shadow: 0 3px 5px rgba(#000, 0.3);

// fonts
$font-title: "Bebas Neue", sans-serif;
$font-subtitle: "Menlo", "Consolas", monospace;
$font-body: "Whitney Book", sans-serif;
