@use "./variables.scss" as *;

// I didn't use a component library when first starting this site
// and atp I'm too lazy to start lol
// most of this is inspired by google design but not very well

.widget {
	color: #fff !important;
	background-color: $bg-light;
	border-radius: $border-radius;
	font-size: 18px;
	filter: drop-shadow($drop-shadow);
	border: none;
	outline: none;
	transition: all 0.25s ease;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: $weight-semibold;
	padding: 4px 20px;
	min-height: 44px;
	font-size: 18px;
	letter-spacing: 0.0892857143em;
	text-transform: uppercase;
	&:hover,
	&:focus {
		background-color: $content-dark;
		cursor: pointer;
	}
	&:active {
		background-color: $content-mid;
	}
}

.btn-primary {
	background-color: $accent-dark;
	&:hover,
	&:focus {
		background-color: $accent-mid;
	}
	&:active {
		background-color: $accent-light;
	}
}

.disabled {
	pointer-events: none;
	transition: all 0.25s ease;
}

.btn.disabled {
	filter: brightness(0.8) saturate(0.5);
}

.btn-lg {
	font-size: 40px;
	padding: 12px 48px;
}

.widget-textarea {
	padding: $padding-container;
	filter: drop-shadow($drop-shadow);
	text-align: left;

	transition: background-color 0.25s ease;
	&:focus {
		background-color: $bg-mid;
	}
}
