@use "./variables.scss" as *;

// I didn't use a component library when first starting this site
// and atp I'm too lazy to start lol
// most of this is inspired by google design but not very well

.widget {
	color: #fff !important;
	background-color: $bg-light;
	border-radius: 4px;
	font-size: 18px;
	filter: drop-shadow($drop-shadow);
	border: none;
	outline: none;
	transition: all 0.25s ease;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	height: 44px;
	font-size: 16px;
	letter-spacing: 0.0892857143em;
	text-transform: uppercase;
	&:hover {
		background-color: $bg-mid;
		cursor: pointer;
	}
	&:active {
		background-color: $content-dark;
	}
}

.btn-primary {
	background-color: $accent-dark;
	&:hover {
		background-color: $accent-light;
	}
	&:active {
		background-color: $accent-dark;
	}
}

.disabled {
	pointer-events: none;
	transition: all 0.25s ease;
}

.btn:not(.btn-primary).disabled {
	background-color: $bg-mid;
	color: $content-dark !important;
}

.btn-primary.disabled {
	filter: brightness(0.8) saturate(0.5);
}

.widget-textarea {
	padding: 16px;
	filter: drop-shadow($drop-shadow);
	text-align: left;

	transition: all 0.25s ease;
	&:focus {
		background-color: $bg-mid;
	}
}
